<a href="https://colab.research.google.com/github/athiaq/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:

# To optimize the model the columns, 'EIN', 'NAME', 'STATUS', 'INCOME_AMT'  will be dropped.
application_df = application_df.drop(columns = ['EIN', 'NAME','STATUS', 'INCOME_AMT'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,N,142590,1

In [23]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [24]:
# Look at APPLICATION_TYPE value counts for binning
application_df.value_counts('APPLICATION_TYPE')

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [25]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T3', 'T6', 'T19', 'T7']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

Other    30043
T4        1542
T5        1173
T8         737
T10        528
T9         156
T13         66
T12         27
T2          16
T25          3
T14          3
T29          2
T15          2
T17          1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [27]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [28]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246','C1267', 'C1256']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T2,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
1,108590,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
3,6692,1,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
4,142590,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0

In [30]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation= "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                5200

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 7,661
Trainable params: 7,661
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [34]:
# To optimize the model, the number of epochs increased to 110
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=110)

Epoch 1/110
804/804 [==============================] - 4s 2ms/step - loss: 0.5843 - accuracy: 0.7178
Epoch 2/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5694 - accuracy: 0.7221
Epoch 3/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7245
Epoch 4/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5660 - accuracy: 0.7247
Epoch 5/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5650 - accuracy: 0.7257
Epoch 6/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7262
Epoch 7/110
804/804 [==============================] - 3s 3ms/step - loss: 0.5639 - accuracy: 0.7257
Epoch 8/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5638 - accuracy: 0.7240
Epoch 9/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7255
Epoch 10/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5628 - accuracy: 0.7273
Epoch 11/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5620 - accuracy: 0.7272
Epoch 12/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5619 - accuracy: 0.7271
Epoch 13/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5615 - accuracy: 0.7264
Epoch 14/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5613 - accuracy: 0.7280
Epoch 15/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5609 - accuracy: 0.7274
Epoch 16/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5604 - accuracy: 0.7280
Epoch 17/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5607 - accuracy: 0.7277
Epoch 18/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5599 - accuracy: 0.7283
Epoch 19/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5600 - accuracy: 0.7273
Epoch 20/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5597 - accuracy: 0.7288
Epoch 21/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5597 - accuracy: 0.7278
Epoch 22/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5596 - accuracy: 0.7291
Epoch 23/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5595 - accuracy: 0.7286
Epoch 24/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5593 - accuracy: 0.7297
Epoch 25/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5587 - accuracy: 0.7292
Epoch 26/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5589 - accuracy: 0.7284
Epoch 27/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7296
Epoch 28/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5588 - accuracy: 0.7286
Epoch 29/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5588 - accuracy: 0.7293
Epoch 30/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5585 - accuracy: 0.7300
Epoch 31/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5580 - accuracy: 0.7304
Epoch 32/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5582 - accuracy: 0.7289
Epoch 33/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5577 - accuracy: 0.7301
Epoch 34/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5574 - accuracy: 0.7299
Epoch 35/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5575 - accuracy: 0.7299
Epoch 36/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7296
Epoch 37/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7305
Epoch 38/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5570 - accuracy: 0.7304
Epoch 39/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7301
Epoch 40/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7316
Epoch 41/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7303
Epoch 42/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7303
Epoch 43/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7307
Epoch 44/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7312
Epoch 45/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7304
Epoch 46/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5565 - accuracy: 0.7310
Epoch 47/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5561 - accuracy: 0.7307
Epoch 48/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5563 - accuracy: 0.7304
Epoch 49/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7306
Epoch 50/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5560 - accuracy: 0.7310
Epoch 51/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7308
Epoch 52/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5560 - accuracy: 0.7309
Epoch 53/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7313
Epoch 54/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7311
Epoch 55/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7308
Epoch 56/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - accuracy: 0.7310
Epoch 57/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5561 - accuracy: 0.7308
Epoch 58/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7315
Epoch 59/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5559 - accuracy: 0.7307
Epoch 60/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7317
Epoch 61/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7310
Epoch 62/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7320
Epoch 63/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7315
Epoch 64/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5552 - accuracy: 0.7311
Epoch 65/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5554 - accuracy: 0.7312
Epoch 66/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7315
Epoch 67/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7322
Epoch 68/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5553 - accuracy: 0.7315
Epoch 69/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7318
Epoch 70/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7320
Epoch 71/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7315
Epoch 72/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7322
Epoch 73/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7316
Epoch 74/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7315
Epoch 75/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7322
Epoch 76/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7317
Epoch 77/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7319
Epoch 78/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7325
Epoch 79/110
804/804 [==============================] - 3s 3ms/step - loss: 0.5545 - accuracy: 0.7317
Epoch 80/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5549 - accuracy: 0.7320
Epoch 81/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7313
Epoch 82/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7320
Epoch 83/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7322
Epoch 84/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7325
Epoch 85/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7317
Epoch 86/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7328
Epoch 87/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7326
Epoch 88/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7325
Epoch 89/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5546 - accuracy: 0.7331
Epoch 90/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7321
Epoch 91/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5539 - accuracy: 0.7329
Epoch 92/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7325
Epoch 93/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7321
Epoch 94/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5539 - accuracy: 0.7326
Epoch 95/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7329
Epoch 96/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7331
Epoch 97/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7326
Epoch 98/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7329
Epoch 99/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5541 - accuracy: 0.7327
Epoch 100/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7332
Epoch 101/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5534 - accuracy: 0.7324
Epoch 102/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7325
Epoch 103/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7325
Epoch 104/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7327
Epoch 105/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7334
Epoch 106/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7324
Epoch 107/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7325
Epoch 108/110
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7326
Epoch 109/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5534 - accuracy: 0.7320
Epoch 110/110
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7320

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5681 - accuracy: 0.7245 - 483ms/epoch - 2ms/step
Loss: 0.5681062936782837, Accuracy: 0.7245481014251709

In [36]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization2.h5")